/*imports*/

@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai&family=Roboto:wght@100&display=swap');

/*variables*/

:root{
    --Font: 'Arima Madurai', cursive;
    --ColorZero: #FFF9B6;
    --ColorOne: #FF9292;
    --ColorTwo: #FFE699;
    --ColorText: #9F9191;
}

/*reset*/

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*globals*/

html{
    font-family: var(--Font);
    font-size: 62.5%;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul{
    list-style-type: none;
}

h1{
    color: var(--ColorOne);
    text-transform: uppercase;
}

body{
    background-color: var(--ColorZero);
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    font-family: var(--Font);
}

/*helpers*/

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
}

/*header*/

header{
    background-color: var(--ColorOne);
    grid-row: 1 / 2;
}

header .logo{
    flex-basis: 30%;
    padding: 0.2rem;
}

header .navbar{
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
}

header .menu{
    flex-basis: 50%;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
}

header .menu__item{
    border: 2px solid var(--ColorOne);
}

header .menu__link{
    transition: ease-in-out cubic-bezier(0.23, 1, 0.320, 1);
}

.menu .menu__item:hover .menu__link{
    color: var(--ColorOne);
    background-color: var(--ColorTwo);
}

.menu .menu__item .menu__link{
    font-size: 2em;
    color: var(--ColorTwo);
    text-transform: uppercase;
    padding: 1rem;
}

/*Footer*/

footer{
    background-color: var(--ColorTwo);
    padding: 0.6rem;
    grid-row: 9 / 10;
    bottom: 0;
    width: 100vw;
}

.footercontainer{
    flex-basis: 100%;
    justify-items: center;
    align-items: center;
    height: 10vh;
}

footer article{
    font-size: 1em;
    color: var(--ColorText);
}
.footercontainer .redes{
    flex-basis: 90%;
}


/*Home*/

.SectionHome{
    align-items: center;
    text-align: center;
}

.ImagenPortada{
    flex-basis: 50%;
    justify-content: center;
}
.SectionHomePresentation{
    flex-basis: 50%;
    justify-content: center;
}
.SectionHomeTitle{
    font-size: 15em;
    flex-basis: 35%;
    justify-content: center;
    line-height: 15.5rem;
}

.SectionHomeSubtitle{
    color: var(--ColorOne);
    font-size: 6em;
    flex-basis: 45%;
    line-height: 6.4rem;
    text-align: center;
}

.SectionHomeArticle{
    font-size: 3em;
    color: var(--ColorText);
}
/*About*/

.section__about{
    padding: 1.5rem;
}

.section__about__descripcion{
    flex-basis: 65%;
    font-size: 2em;
}
.section__about__trabajos{
    background-color: var(--ColorTwo);
    flex-basis: 35%;
    padding: 1rem;
    margin: 2rem;
}

.section__about__trabajos h3{
    font-size: 1.5em;
    color: var(--ColorText);
    text-align: center;
}

.section__about__trabajos .trabajo1{
    margin: .8rem;
}

.section__about__trabajos .trabajo2{
    margin: .8rem;
    margin-top: 3rem;
}
.section__about__trabajos p{
    font-size: 1.5em;
    color: var(--ColorText);
    text-align: center;
}
.section__about__title{
    text-align: center;
    font-size: 3.5em;
}
.section__about article{
    font-size: 2 em;
    text-align: center;
    color: var(--ColorText);
    padding: 2rem;
}
.section__about h3{
    font-size: 2em;
    color: var(--ColorOne);
    text-align: center;
}

/*Servicios*/

.section__servicios__title{
    font-size: 7em;
    text-align: center;
}
.section__servicios__lista{
    flex-basis: 70%;
    font-size: 2em;
    color: var(--ColorText);
    text-align: center;
}

.section__servicios__herramientas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

/*Planes*/

.planes__titulo{
    font-size: 7em;
    text-align: center;
}

.planes__imagenes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    justify-items: center;
}

.planes__imagenes picture{
    margin: 1rem;
    max-width: 70%;
    align-content: center;
}

.planes__imagenes img:hover {
    transform: scale(1.7);
}

/*Contacto*/

.section__contacto__titulo{
    font-size: 7em;
    text-align: center;
}
.contacto__formulario{
    margin: 1.3rem;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--ColorText);
    background-color: var(--ColorTwo);
}
.contacto__formulario div{
    margin: 1.3rem;
}
.contacto__formulario label{
    margin: 1.3rem;
}
.contacto__formulario input{
    margin: 1.3rem;
    border-width: 0px;
    background-color: var(--ColorZero);
}
.contacto__formulario select{
    margin: 1.3rem;
    border-width: 0px;
    background-color: var(--ColorZero);
}
.contacto__formulario textarea{
    max-width: 400px;
    height: 200px;
    margin: 2rem;
    border-width: 0px;
    background-color: var(--ColorZero);
}
.contacto__formulario textarea option{
    color: var(--ColorText);
}
.contacto__formulario button{
    width: 100px;
    height: 50px;
    font-size: 0.8em;
    color: var(--ColorText);
    background-color: var(--ColorZero);
    text-transform: uppercase;
    padding: 1.3rem;
    border-width: 0px;
    align-self: center;
    margin: 2rem;
}
/*bootstrap*/
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: var(--ColorOne);    
}
div.container-fluid{
    background-color: #FF9292;
}
.navbar-light .navbar-toggler {
    color: var(--ColorTwo);
    border-color: var(--ColorTwo);
}
.navbar-toggler{
    background-color: var(--ColorTwo);
}

.bg-light {
    --bs-bg-opacity: 0;
    }
    .navbar-light .navbar-brand {
        color: var(--ColorTwo);
        text-transform: uppercase;
        font-size: 2em;
    }
.nav-item{
    text-transform: uppercase;
    font-size: 2rem;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: var(--ColorTwo);
}
@media screen and (max-width: 768px) {
    
    header{
        padding: 0.2rem;
    }
    header .navbar{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    .menu .menu__item .menu__link {
        font-size: 0.8em;
    }
    .SectionHome{
        min-width: 320px;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .SectionHomeTitle{
        font-size: 12em;
        line-height: 12.5rem;
        order: 0;
    }
    .SectionHomeSubtitle{
        font-size: 4em;
        line-height: 4.5rem;
    }
    .SectionHomeArticle{
        font-size: 2em;
    }
    .section__about{
        flex-direction: column;
    }
    .section__about__title{
        font-size: 3em;
    }
    .section__about__descripcion{
        font-size: 1.3em;
    }
    .planes__titulo{
        font-size: 4em;
    }
    .planes__imagenes{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .planes__imagenes picture{
        margin-bottom: 1.3rem;
        max-width: 50%;
        max-height: 50%;
    }
    .planes__imagenes img:hover {
        transform: scale(1.4);
    }
    .section__servicios__title{
        font-size: 3.5em;
    }
    .section__servicios__lista{
        font-size: 1.3em;
    }
    .section__servicios__contenido{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section__servicios__herramientas img{
        max-width: 75%;
    }
    .section__contacto__titulo{
        font-size: 3.5em;
        text-align: center;
    }
    .contacto__formulario textarea{
        max-width: 200px;
        max-height: 100px;
    }
    .contacto__formulario{
        font-size: 1em;
        margin: 0.5rem;
    }
    .contacto__formulario button{
        max-width: 50px;
        max-height: 25px;
        text-align: center;
    }
}
