$Font: 'Arima Madurai', cursive;
$ColorZero: #FFF9B6;
$ColorOne: #FF9292;
$ColorTwo: #FFE699;
$ColorText: #9F9191;

/*por el momento las estoy aplicando solo en section home*/
$font-size: (
    large: 15em,
    medium: 6em,
    small: 3em,
);