<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JMD - Planes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/estilos.css">
    <link rel="icon" href="../imagenes/logo.png">
</head>
<body>
    <header>
        <nav class="navbar flex-row container">
            <picture class="logo">
                <img src="../imagenes/logo.png" alt="Logo">
            </picture>
            <ul class="menu flex-row">
                <li class="menu__item">
                    <a href="../index.html" class="menu__link">Inicio</a>
                </li >
                <li class="menu__item">
                    <a href="./about.html" class="menu__link">About</a>
                </li>
                <li class="menu__item">
                    <a href="./servicios.html" class="menu__link">Servicios</a>
                </li>
                <li class="menu__item">
                    <a href="./galeria.html" class="menu__link">Planes</a>
                </li>
                <li class="menu__item">
                    <a href="./contacto.html" class="menu__link">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="planes container flex-column">
        <h1 class="planes__titulo">Planes</h1>
        <div class="card" style="width: 18rem;">
            <img src="../imagenes/Plan1.png" class="card-img-top" alt="Descripción plan 1">
            <div class="card-body">
                <p class="card-text">$5000</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../imagenes/Plan2.png" class="card-img-top" alt="Descripción plan 2">
            <div class="card-body">
                <p class="card-text">$10000</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../imagenes/Plan3.png" class="card-img-top" alt="Descripción plan 3">
            <div class="card-body">
                <p class="card-text">$15000</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../imagenes/Plan4.png" class="card-img-top" alt="Descripción plan 4">
            <div class="card-body">
                <p class="card-text">$20000</p>
            </div>
        </div>
    </section>
    <footer class="flex-row">
        <div class="footercontainer flex-column container">
            <section class="redes"> <!--agregar links a las redes-->
                <picture>
                    <img src="../imagenes/Instagram.png" alt="Instagram">
                </picture>
                <picture>
                    <img src="../imagenes/Facebook.png" alt="Facebook">
                </picture>
                <picture>
                    <img src="../imagenes/Linkedin.png" alt="Linkedin">
                </picture>
            </section>
            <article>Todos los derechos reservados</article>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>