<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Jota Marketing Digital ofrece planes mensuales tanto estandarizados como personalizados"> 
    <meta name="keywords" content="MARKETING DIGITAL, COMMUNITY MANAGEMENT, PUBLICIDAD ONLINE, ADS, REDES SOCIALES">
    <title>Jota Marketing Digital - Nuestros planes</title>
    <link rel="stylesheet" href="../CSS/estilos.css">
    <link rel="icon" href="../imagenes/logo.png">
</head>
<body>
    <header>
        <nav class="navbar flex-row container">
            <picture class="logo">
                <img src="../imagenes/logo.png" alt="Logo">
            </picture>
            <ul class="menu flex-row">
                <li class="menu__item">
                    <a href="../index.html" class="menu__link">Inicio</a>
                </li >
                <li class="menu__item">
                    <a href="./about.html" class="menu__link">About</a>
                </li>
                <li class="menu__item">
                    <a href="./servicios.html" class="menu__link">Servicios</a>
                </li>
                <li class="menu__item">
                    <a href="./galeria.html" class="menu__link">Planes</a>
                </li>
                <li class="menu__item">
                    <a href="./contacto.html" class="menu__link">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    <section>
        <h1 class="planes__titulo">Planes</h1>
        <section class="planes__imagenes">
            <picture class="plan__uno">
                <img src="../imagenes/Plan1.png" style="width: 100%">
            </picture>
            <picture class="plan__dos">
                <img src="../imagenes/Plan2.png" style="width: 100%">
            </picture>
            <picture class="plan__tres">
                <img src="../imagenes/Plan3.png" style="width: 100%">
            </picture>
            <picture class="plan__cuatro">
                <img src="../imagenes/Plan4.png" style="width: 100%">
            </picture>
        </section>
    </section>
    <footer class="flex-row">
        <div class="footercontainer flex-column container">
            <section class="redes"> <!--agregar links a las redes-->
                <picture>
                    <img src="../imagenes/Instagram.png" alt="Instagram">
                </picture>
                <picture>
                    <img src="../imagenes/Facebook.png" alt="Facebook">
                </picture>
                <picture>
                    <img src="../imagenes/Linkedin.png" alt="Linkedin">
                </picture>
            </section>
            <article>Todos los derechos reservados</article>
        </div>
    </footer>
</body>
</html>