header{
    background-color: $ColorOne;
    grid-row: 1 / 2;
    .logo{
        flex-basis: 30%;
        padding: 0.2rem;
    }
    .navbar{
        justify-content: space-between;
        align-items: center;
        padding: 0.2rem;
    }
    .menu{
        flex-basis: 50%;
        justify-content: space-between;
        align-items: center;
        padding: 0.2rem;
    }
        .menu__item:hover .menu__link{
            color: $ColorOne;
            background-color: $ColorTwo;
        }
        .menu__item .menu__link{
            font-size: 2em;
            color: $ColorTwo;
            text-transform: uppercase;
            padding: 1rem;
        }
    .menu__link{
        transition: ease-in-out cubic-bezier(0.23, 1, 0.320, 1);
    }
    .menu__item{
        border: 2px solid $ColorOne;  
    }  
}

footer{
    background-color: $ColorTwo;
    padding: 0.6rem;
    grid-row: 9 / 10;
    bottom: 0;
    width: 100vw;

    article{
        font-size: 1em;
        color: $ColorText;
    }
}
.footercontainer{
    flex-basis: 100%;
    justify-items: center;
    align-items: center;
    height: 10vh;

    .redes{
        flex-basis: 90%;
    }

    picture{
        flex-basis: 50%;
        justify-content: center;

    
    }
}
