header{
    background-color: $ColorOne;
    grid-row: 1 / 2;
    .logo{
        flex-basis: 30%;
        padding: 0.2rem;
    }
    .navbar{        
        @include flex-row (row, space-between, center);
        @include container (1080px, 0 auto);
        padding: 0.2rem;

    }
    .menu{
        flex-basis: 50%;
        padding: 0.2rem;
        @include flex-row (row, space-between, center);
    }
        .menu__item:hover .menu__link{
            color: $ColorOne;
            background-color: $ColorTwo;
        }
        .menu__item .menu__link{
            font-size: 2em;
            color: $ColorTwo;
            text-transform: uppercase;
            padding: 1rem;
        }
    .menu__link{
        transition: ease-in-out cubic-bezier(0.23, 1, 0.320, 1);
    }
    .menu__item{
        border: 2px solid $ColorOne;  
    }  
}


