.section__contacto{
    @include container (1080px, 0 auto);
    &__titulo{
        font-size: 7em;
        text-align: center;
    }
}
.contacto__formulario{
    @include flex-column (column);
    margin: 1.3rem;
    font-size: 2rem;
    text-transform: uppercase;
    color: $ColorText;
    background-color: $ColorTwo;
    div{
        margin: 1.3rem;        
        @include flex-column (column);
        justify-items: center;
        align-items: center;
    }
    label{
        margin: 1.3rem;
    }
    input{
        margin: 0;
        border-width: 0px;
        background-color: $ColorZero;
        height: 2.5rem;
    }
    select{
        margin: 0;
        border-width: 0px;
        background-color: $ColorZero;
        height: 2.5rem;
        font: $Font;
        color: $ColorText
    }
    textarea{
        max-width: 400px;
        height: 200px;
        margin: 2rem;
        border-width: 0px;
        background-color: $ColorZero;
        font-family: $Font;
        color: $ColorText;
        border-color: $ColorText;
    }
    button{
        width: 100px;
        height: 50px;
        font-size: 0.8em;
        color: $ColorText;
        font-family: $Font;
        background-color: $ColorZero;
        text-transform: uppercase;
        padding: 1.3rem;
        border-width: 0px;
        align-self: center;
        margin: 2rem;
    }    
}
@media screen and (max-width: 768px) {
    .section__contacto__titulo{
        font-size: 3.5em;
        text-align: center;
    }    
    .contacto__formulario{
        font-size: 1em;
        margin: 0.5rem;
    }
        textarea{
            max-width: 200px;
            max-height: 100px;
    }
        button{
        max-width: 50px;
        max-height: 25px;
        text-align: center;
    }
}